In [1]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime

## Group Assignment
### Team Number: 18
### Team Member Names: Daniel Kim, Andre Slavescu, Kitty Cai 
### Team Strategy Chosen: SAFE

First check if the stock is US

In [2]:
# Read the csv file
listed = pd.read_csv('Tickers.csv')
listed.head() wafiawoie fno

   AAPL
0  ABBV
1   ABT
2   ACN
3   AGN
4   AIG

In [3]:
listed.iloc[1]

AAPL    ABT
Name: 1, dtype: object

In [4]:
list1 = listed.values.tolist()

In [5]:
for i in range(len(listed)):
    x = yf.Ticker(str(list1[i][0]))
    print(list1[i])

['ABBV']
['ABT']
['ACN']
['AGN']
['AIG']
['AMZN']
['AXP']
['BA']
['BAC']
['BIIB']
['BK']
['BLK']
['BMY']
['C']
['CAT']
['CELG']
['CL']
['CMCSA']
['COF']
['COP']
['COST']
['CSCO']
['CVS']
['GM']
['GOOG']
['JPM']
['KMI']
['KO']
['LLY']
['LMT']
['MO']
['MON']
['MRK']
['MS']
['MSFT']
['NEE']
['NKE']
['ORCL']
['OXY']
['PCLN']
['PEP']
['PFE']
['PG']
['PM']
['PYPL']
['QCOM']
['RTN']
['SHOP.TO']
['SBUX']
['SLB']
['SO']
['SPG']
['T']
['TD.TO']
['TGT']
['TWX']
['TXN']
['UNH']
['UNP']
['UPS']
['USB']

In [6]:
str(list1[1][0])

'ABT'

In [7]:
stock_list = []
for i in range(len(list1)):
    stock_list.append(list1[i][0])
stock_list

['ABBV',
 'ABT',
 'ACN',
 'AGN',
 'AIG',
 'AMZN',
 'AXP',
 'BA',
 'BAC',
 'BIIB',
 'BK',
 'BLK',
 'BMY',
 'C',
 'CAT',
 'CELG',
 'CL',
 'CMCSA',
 'COF',
 'COP',
 'COST',
 'CSCO',
 'CVS',
 'GM',
 'GOOG',
 'JPM',
 'KMI',
 'KO',
 'LLY',
 'LMT',
 'MO',
 'MON',
 'MRK',
 'MS',
 'MSFT',
 'NEE',
 'NKE',
 'ORCL',
 'OXY',
 'PCLN',
 'PEP',
 'PFE',
 'PG',
 'PM',
 'PYPL',
 'QCOM',
 'RTN',
 'SHOP.TO',
 'SBUX',
 'SLB',
 'SO',
 'SPG',
 'T',
 'TD.TO',
 'TGT',
 'TWX',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB']

In [8]:
check = yf.Ticker(stock_list[i])
for i in range(len(stock_list)):   
    # if check.info["regularMarketPrice"] == None:
    #     stock_list.remove(stock_list[i])    
    # elif check.info["market"] == "us_market":
    #         print(check.info["symbol"])
    if "market" not in check.info:
        stock_list.remove(stock_list[i])

stock_list

# if regularMarketPrice is null then eliminate
# if market not us_market then eliminate

['ABBV',
 'ABT',
 'ACN',
 'AGN',
 'AIG',
 'AMZN',
 'AXP',
 'BA',
 'BAC',
 'BIIB',
 'BK',
 'BLK',
 'BMY',
 'C',
 'CAT',
 'CELG',
 'CL',
 'CMCSA',
 'COF',
 'COP',
 'COST',
 'CSCO',
 'CVS',
 'GM',
 'GOOG',
 'JPM',
 'KMI',
 'KO',
 'LLY',
 'LMT',
 'MO',
 'MON',
 'MRK',
 'MS',
 'MSFT',
 'NEE',
 'NKE',
 'ORCL',
 'OXY',
 'PCLN',
 'PEP',
 'PFE',
 'PG',
 'PM',
 'PYPL',
 'QCOM',
 'RTN',
 'SHOP.TO',
 'SBUX',
 'SLB',
 'SO',
 'SPG',
 'T',
 'TD.TO',
 'TGT',
 'TWX',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB']

In [ ]:
# Fake tickers, AGN CELG
check = yf.Ticker("CELG")

check.info

{'regularMarketPrice': None, 'logo_url': ''}

In [24]:
check = yf.Ticker("APPL")

check.info

if check.info["market"] == "us_market":
    print(check.info["symbol"])

# if regularMarketPrice is null then eliminate
# if market not us_market then eliminate

APPL

Check if stock has an average daily volume of at least 10 000 shares

Create a DataFrame called "FinalPortfolio"

Index starts at 1 and ends at the number of stocks the code chose

Have the following headings: Ticker, Price, Shares, Value, Weight

Show the total adds to $100 000 and weight is 100%

Find a way to pick 10 - 20 stocks

Find a way to weight the stocks and put in the $10 000 USD based on the weighs

Create a DataFrame called "FinalPortfolio"

Index starts at 1 and ends at the number of stocks the code chose

Have the following headings: Ticker, Price, Shares, Value, Weight

Show the total adds to $100 000 and weight is 100%

Create final DataFrame "Stocks"

Same index as "FinalPortfolio" but only has Ticker and Shares

Must output DataFrame to a CSV file titled “Stocks_Group_18.csv”

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Insert Names Here.