In [2]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime

## Group Assignment
### Team Number: 18
### Team Member Names: Daniel Kim, Andre Slavescu, Kitty Cai 
### Team Strategy Chosen: SAFE

First check if the stock is US

In [3]:
# Read the csv file
listed = pd.read_csv('Tickers.csv')
listed.head()

   AAPL
0  ABBV
1   ABT
2   ACN
3   AGN
4   AIG

In [4]:
listed.iloc[1]

AAPL    ABT
Name: 1, dtype: object

In [5]:
list1 = listed.values.tolist()

In [6]:
for i in range(len(listed)):
    x = yf.Ticker(str(list1[i][0]))
    print(list1[i])

['ABBV']
['ABT']
['ACN']
['AGN']
['AIG']
['AMZN']
['AXP']
['BA']
['BAC']
['BIIB']
['BK']
['BLK']
['BMY']
['C']
['CAT']
['CELG']
['CL']
['CMCSA']
['COF']
['COP']
['COST']
['CSCO']
['CVS']
['GM']
['GOOG']
['JPM']
['KMI']
['KO']
['LLY']
['LMT']
['MO']
['MON']
['MRK']
['MS']
['MSFT']
['NEE']
['NKE']
['ORCL']
['OXY']
['PCLN']
['PEP']
['PFE']
['PG']
['PM']
['PYPL']
['QCOM']
['RTN']
['SHOP.TO']
['SBUX']
['SLB']
['SO']
['SPG']
['T']
['TD.TO']
['TGT']
['TWX']
['TXN']
['UNH']
['UNP']
['UPS']
['USB']

In [7]:
len(listed)

61

In [8]:
str(list1[1][0])

'ABT'

In [9]:
stock_list = []
for i in range(len(list1)):
    stock_list.append(list1[i][0])
stock_list

['ABBV',
 'ABT',
 'ACN',
 'AGN',
 'AIG',
 'AMZN',
 'AXP',
 'BA',
 'BAC',
 'BIIB',
 'BK',
 'BLK',
 'BMY',
 'C',
 'CAT',
 'CELG',
 'CL',
 'CMCSA',
 'COF',
 'COP',
 'COST',
 'CSCO',
 'CVS',
 'GM',
 'GOOG',
 'JPM',
 'KMI',
 'KO',
 'LLY',
 'LMT',
 'MO',
 'MON',
 'MRK',
 'MS',
 'MSFT',
 'NEE',
 'NKE',
 'ORCL',
 'OXY',
 'PCLN',
 'PEP',
 'PFE',
 'PG',
 'PM',
 'PYPL',
 'QCOM',
 'RTN',
 'SHOP.TO',
 'SBUX',
 'SLB',
 'SO',
 'SPG',
 'T',
 'TD.TO',
 'TGT',
 'TWX',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB']

In [10]:
check = yf.Ticker(stock_list[i])
for i in range(len(stock_list)):   
    if "market" not in check.info:
        stock_list.pop(i)

stock_list

# if regularMarketPrice is null then eliminate
# if market not us_market then eliminate

['ABBV',
 'ABT',
 'ACN',
 'AGN',
 'AIG',
 'AMZN',
 'AXP',
 'BA',
 'BAC',
 'BIIB',
 'BK',
 'BLK',
 'BMY',
 'C',
 'CAT',
 'CELG',
 'CL',
 'CMCSA',
 'COF',
 'COP',
 'COST',
 'CSCO',
 'CVS',
 'GM',
 'GOOG',
 'JPM',
 'KMI',
 'KO',
 'LLY',
 'LMT',
 'MO',
 'MON',
 'MRK',
 'MS',
 'MSFT',
 'NEE',
 'NKE',
 'ORCL',
 'OXY',
 'PCLN',
 'PEP',
 'PFE',
 'PG',
 'PM',
 'PYPL',
 'QCOM',
 'RTN',
 'SHOP.TO',
 'SBUX',
 'SLB',
 'SO',
 'SPG',
 'T',
 'TD.TO',
 'TGT',
 'TWX',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB']

In [11]:
len(stock_list)

61

In [12]:
for i in stock_list:
    if (yf.Ticker(i).info["market"] == "us_market"):
        stock_list.remove(i)
        print(i)
for i in stock_list:
    if (yf.Ticker(i).info["averageDailyVolume"]) < 10000:
        stock_list.remove(i)
        print(i)

stock_list

ABBV
ACN
AIG
AXP
BAC
BK
BMY
CAT
CL
COF
COST
CVS
GOOG
KMI
LLY
MO
MRK
MSFT
NKE
OXY
PEP
PG
PYPL

KeyError: 'market'

In [13]:
# Fake tickers, AGN CELG
check = yf.Ticker("CELG")

check.info

{'regularMarketPrice': None, 'logo_url': ''}

In [14]:
check = yf.Ticker("APPL")

check.info

if check.info["market"] == "us_market":
    print(check.info["symbol"])

# if regularMarketPrice is null then eliminate
# if market not us_market then eliminate

APPL

In [16]:
manipulation = stock_list[:5]
manipulation

['ABT', 'AGN', 'AMZN', 'BA', 'BIIB']

In [17]:
stock_list_manipulation = pd.DataFrame()

for ticker in manipulation:
    x = yf.Ticker(ticker)
    
    #Dates
    start_date = '2019-01-01'
    end_date = '2021-07-01'
    
    y = x.history(start = start_date, end = end_date)
    
    stock_list_manipulation[ticker + 'close'] = y['Close']

- AGN: No data found, symbol may be delisted

In [18]:
stock_list_manipulation.head()

             ABTclose  AGNclose    AMZNclose     BAclose   BIIBclose
Date
2019-01-02  66.280502       NaN  1539.130005  314.645142  304.690002
2019-01-03  63.152443       NaN  1500.280029  302.100525  307.000000
2019-01-04  64.954880       NaN  1575.390015  317.822601  318.329987
2019-01-07  65.927635       NaN  1629.510010  318.823425  322.399994
2019-01-08  65.136093       NaN  1656.579956  330.891907  324.440002

In [20]:
returns = stock_list_manipulation.pct_change()
returns.head()

            ABTclose  AGNclose  AMZNclose   BAclose  BIIBclose
Date
2019-01-02       NaN       NaN        NaN       NaN        NaN
2019-01-03 -0.047194       NaN  -0.025242 -0.039869   0.007581
2019-01-04  0.028541       NaN   0.050064  0.052043   0.036905
2019-01-07  0.014976       NaN   0.034353  0.003149   0.012785
2019-01-08 -0.012006       NaN   0.016612  0.037853   0.006328

In [21]:
#Calculate the standard deviation
returns.std()

ABTclose     0.018802
AGNclose          NaN
AMZNclose    0.019058
BAclose      0.038228
BIIBclose    0.037547
dtype: float64

In [22]:
std = pd.DataFrame(returns.std())
std

                  0
ABTclose   0.018802
AGNclose        NaN
AMZNclose  0.019058
BAclose    0.038228
BIIBclose  0.037547

In [23]:
std = std.reset_index()
std

       index         0
0   ABTclose  0.018802
1   AGNclose       NaN
2  AMZNclose  0.019058
3    BAclose  0.038228
4  BIIBclose  0.037547

In [30]:
std = std.rename(columns={"index": "stocks", 0: "standard_deviation"})
std = std.dropna()
std

      stocks  standard_deviation
0   ABTclose            0.018802
1  AMZNclose            0.019058
2  BIIBclose            0.037547
3    BAclose            0.038228

In [31]:
std = std.sort_values(by = 'standard_deviation')
std

      stocks  standard_deviation
0   ABTclose            0.018802
1  AMZNclose            0.019058
2  BIIBclose            0.037547
3    BAclose            0.038228

In [32]:
std = std.reset_index(drop = True)
std

      stocks  standard_deviation
0   ABTclose            0.018802
1  AMZNclose            0.019058
2  BIIBclose            0.037547
3    BAclose            0.038228

Check if stock has an average daily volume of at least 10 000 shares

Create a DataFrame called "FinalPortfolio"

Index starts at 1 and ends at the number of stocks the code chose

Have the following headings: Ticker, Price, Shares, Value, Weight

Show the total adds to $100 000 and weight is 100%

Find a way to pick 10 - 20 stocks

Find a way to weight the stocks and put in the $10 000 USD based on the weighs

Create a DataFrame called "FinalPortfolio"

Index starts at 1 and ends at the number of stocks the code chose

Have the following headings: Ticker, Price, Shares, Value, Weight

Show the total adds to $100 000 and weight is 100%

Create final DataFrame "Stocks"

Same index as "FinalPortfolio" but only has Ticker and Shares

Must output DataFrame to a CSV file titled “Stocks_Group_18.csv”

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Insert Names Here.