In [1]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime

## Group Assignment
### Team Number: 18
### Team Member Names: Daniel Kim, Andre Slavescu, Kitty Cai 
### Team Strategy Chosen: SAFE

First check if the stock is US

In [59]:
def updated_stock_list(our_csv):
    global stocks
    stocks = pd.read_csv(our_csv, header = None)
    stocks.columns = ['ticker']

    global stocklist
    stocklist = stocks['ticker'].tolist()
    
    # Filtering (US Market and existing stocks)
    global US_Tickers
    US_Tickers = []
    global US_Stocks
    US_Stocks = []
    
    global stock
    for i in stocklist:
        stock = yf.Ticker(i)
        # check if currency is USD
        if ('currency' in stock.info) and (stock.info['currency'] == 'USD'):
            US_Tickers.append(i)
            US_Stocks.append(stock)
    
    # at least 10,000 shares traded daily
    start_date = '2021-07-02'
    end_date = '2021-10-22'        
    stocks_traded = []
    
    for i in range(len(US_Stocks)):
        stocks_traded.append(US_Stocks[i].history(start = start_date, end = end_date)['Volume'])
        # check if the average volume traded is < 10000
        if US_Stocks[i].mean() < 10000:
            US_Tickers.remove(US_Tickers[i])
            US_Stocks.remove(US_Stocks[i])

    return US_Stocks + US_Tickers

In [61]:
print(len(US_Tickers+US_Tickers))
print(US_Tickers+US_Tickers)

22
['AAPL', 'ABBV', 'ABT', 'ACN', 'AIG', 'AMZN', 'AXP', 'BA', 'BAC', 'BIIB', 'BK', 'AAPL', 'ABBV', 'ABT', 'ACN', 'AIG', 'AMZN', 'AXP', 'BA', 'BAC', 'BIIB', 'BK']

In [2]:
# Read the csv file
listed = pd.read_csv('Tickers.csv')
listed.head()

   AAPL
0  ABBV
1   ABT
2   ACN
3   AGN
4   AIG

In [3]:
listed.iloc[1]

AAPL    ABT
Name: 1, dtype: object

In [4]:
list1 = listed.values.tolist()

In [5]:
for i in range(len(listed)):
    x = yf.Ticker(str(list1[i][0]))
    print(list1[i])

['ABBV']
['ABT']
['ACN']
['AGN']
['AIG']
['AMZN']
['AXP']
['BA']
['BAC']
['BIIB']
['BK']
['BLK']
['BMY']
['C']
['CAT']
['CELG']
['CL']
['CMCSA']
['COF']
['COP']
['COST']
['CSCO']
['CVS']
['GM']
['GOOG']
['JPM']
['KMI']
['KO']
['LLY']
['LMT']
['MO']
['MON']
['MRK']
['MS']
['MSFT']
['NEE']
['NKE']
['ORCL']
['OXY']
['PCLN']
['PEP']
['PFE']
['PG']
['PM']
['PYPL']
['QCOM']
['RTN']
['SHOP.TO']
['SBUX']
['SLB']
['SO']
['SPG']
['T']
['TD.TO']
['TGT']
['TWX']
['TXN']
['UNH']
['UNP']
['UPS']
['USB']

In [6]:
len(listed)

61

In [7]:
str(list1[1][0])

'ABT'

In [8]:
stock_list = []
for i in range(len(list1)):
    stock_list.append(list1[i][0])
stock_list

['ABBV',
 'ABT',
 'ACN',
 'AGN',
 'AIG',
 'AMZN',
 'AXP',
 'BA',
 'BAC',
 'BIIB',
 'BK',
 'BLK',
 'BMY',
 'C',
 'CAT',
 'CELG',
 'CL',
 'CMCSA',
 'COF',
 'COP',
 'COST',
 'CSCO',
 'CVS',
 'GM',
 'GOOG',
 'JPM',
 'KMI',
 'KO',
 'LLY',
 'LMT',
 'MO',
 'MON',
 'MRK',
 'MS',
 'MSFT',
 'NEE',
 'NKE',
 'ORCL',
 'OXY',
 'PCLN',
 'PEP',
 'PFE',
 'PG',
 'PM',
 'PYPL',
 'QCOM',
 'RTN',
 'SHOP.TO',
 'SBUX',
 'SLB',
 'SO',
 'SPG',
 'T',
 'TD.TO',
 'TGT',
 'TWX',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB']

In [9]:
check = yf.Ticker(stock_list[i])
for i in range(len(stock_list)):   
    if "market" not in check.info:
        stock_list.pop(i)

stock_list

# if regularMarketPrice is null then eliminate
# if market not us_market then eliminate

['ABBV',
 'ABT',
 'ACN',
 'AGN',
 'AIG',
 'AMZN',
 'AXP',
 'BA',
 'BAC',
 'BIIB',
 'BK',
 'BLK',
 'BMY',
 'C',
 'CAT',
 'CELG',
 'CL',
 'CMCSA',
 'COF',
 'COP',
 'COST',
 'CSCO',
 'CVS',
 'GM',
 'GOOG',
 'JPM',
 'KMI',
 'KO',
 'LLY',
 'LMT',
 'MO',
 'MON',
 'MRK',
 'MS',
 'MSFT',
 'NEE',
 'NKE',
 'ORCL',
 'OXY',
 'PCLN',
 'PEP',
 'PFE',
 'PG',
 'PM',
 'PYPL',
 'QCOM',
 'RTN',
 'SHOP.TO',
 'SBUX',
 'SLB',
 'SO',
 'SPG',
 'T',
 'TD.TO',
 'TGT',
 'TWX',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB']

In [10]:
len(stock_list)

61

In [11]:
manipulation = stock_list
manipulation

['ABBV',
 'ABT',
 'ACN',
 'AGN',
 'AIG',
 'AMZN',
 'AXP',
 'BA',
 'BAC',
 'BIIB',
 'BK',
 'BLK',
 'BMY',
 'C',
 'CAT',
 'CELG',
 'CL',
 'CMCSA',
 'COF',
 'COP',
 'COST',
 'CSCO',
 'CVS',
 'GM',
 'GOOG',
 'JPM',
 'KMI',
 'KO',
 'LLY',
 'LMT',
 'MO',
 'MON',
 'MRK',
 'MS',
 'MSFT',
 'NEE',
 'NKE',
 'ORCL',
 'OXY',
 'PCLN',
 'PEP',
 'PFE',
 'PG',
 'PM',
 'PYPL',
 'QCOM',
 'RTN',
 'SHOP.TO',
 'SBUX',
 'SLB',
 'SO',
 'SPG',
 'T',
 'TD.TO',
 'TGT',
 'TWX',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB']

In [14]:
stock_list_manipulation = pd.DataFrame()

for ticker in manipulation:
    x = yf.Ticker(ticker)
    
    #Dates
    start_date = '2021-11-01'
    end_date = '2021-11-21'
    
    y = x.history(start = start_date, end = end_date)
    
    stock_list_manipulation[ticker] = y['Close']

stock_list_manipulation.head()

- AGN: No data found, symbol may be delisted
- CELG: No data found, symbol may be delisted
- PCLN: None
- RTN: No data found, symbol may be delisted
- TWX: No data found for this date range, symbol may be delisted

,ABBV,ABT,ACN,AGN,AIG,AMZN,AXP,BA,BAC,BIIB,...,SPG,T,TD.TO,TGT,TWX,TXN,UNH,UNP,UPS,USB
Date,,,,,,,,,,,,,,,,,,,,,
2021-11-01,114.809998,128.940002,355.320007,NaN,60.189999,3318.110107,174.210007,214.580002,47.849998,272.100006,...,149.360001,25.370001,90.419998,257.041840,NaN,187.470001,454.109985,239.460007,209.863129,60.779999
2021-11-02,116.529999,127.709999,361.500000,NaN,59.980000,3312.750000,173.169998,212.770004,47.880001,272.510010,...,158.990005,25.230000,90.360001,259.373871,NaN,189.339996,452.040009,240.440002,208.111786,60.860001
2021-11-03,117.570000,128.699997,362.100006,NaN,61.080002,3384.000000,172.610001,213.380005,48.369999,279.589996,...,166.240005,25.180000,91.120003,259.523346,NaN,189.190002,457.329987,239.460007,211.694092,61.830002
2021-11-04,117.059998,129.089996,366.799988,NaN,60.389999,3477.000000,172.529999,213.029999,47.330002,280.410004,...,165.710007,24.799999,91.279999,259.553253,NaN,191.110001,456.760010,237.199997,209.684021,60.279999
2021-11-05,117.180000,124.370003,368.459991,NaN,58.959999,3518.989990,176.690002,224.460007,46.970001,278.679993,...,170.500000,25.100000,91.449997,253.404251,NaN,193.399994,455.809998,238.830002,207.196320,60.689999

In [15]:
#Get the standard deviation
returns = stock_list_manipulation.pct_change() * 100

#Calculate the standard deviation
std = pd.DataFrame(returns.std())
std = std.reset_index()
std = std.rename(columns={"index": "stocks", 0: "standard_deviation"})
std = std.dropna()
std = std.sort_values(by = 'standard_deviation')
std = std.reset_index(drop = True)
std

     stocks  standard_deviation
0       MON            0.143476
1     TD.TO            0.462921
2        PG            0.499560
3        KO            0.506301
4       UNP            0.546382
5       JPM            0.575333
6       NEE            0.700281
7      ABBV            0.712266
8      MSFT            0.729689
9        CL            0.739502
10        T            0.759168
11      BMY            0.770223
12      KMI            0.784112
13      ACN            0.795000
14     ORCL            0.829818
15      PEP            0.838105
16       SO            0.862236
17      COF            0.868390
18      LMT            0.880939
19     GOOG            0.943190
20       BK            0.952128
21       MO            0.966278
22      UNH            0.976318
23      UPS            0.992017
24      BLK            0.993283
25      BAC            1.035023
26      TXN            1.041604
27     COST            1.072431
28      AIG            1.091636
29    CMCSA            1.102326
30      USB            1.169063
31       PM            1.196020
32      AXP            1.210689
33        C            1.282148
34       MS            1.372888
35      ABT            1.436860
36     BIIB            1.531941
37     SBUX            1.555135
38      CAT            1.583435
39      LLY            1.674530
40      TGT            1.688518
41     AMZN            1.753004
42      NKE            1.802602
43     CSCO            1.805257
44      COP            1.883263
45      CVS            2.024450
46      SLB            2.095680
47      OXY            2.191695
48       GM            2.328644
49      SPG            2.448888
50       BA            2.857734
51      MRK            2.978160
52     PYPL            3.406287
53      PFE            3.418603
54  SHOP.TO            3.812426
55     QCOM            4.014744

In [16]:
for i in stock_list:
    if (yf.Ticker(i).info["market"] == "us_market"):
        stock_list.remove(i)
        print(i)
for i in stock_list:
    if (yf.Ticker(i).info["averageDailyVolume"]) < 10000:
        stock_list.remove(i)
        print(i)

stock_list

ABBV
ACN
AIG
AXP
BAC
BK
BMY
CAT
CL

In [ ]:
# Fake tickers, AGN CELG
check = yf.Ticker("CELG")

check.info

In [ ]:
check = yf.Ticker("APPL")

check.info

if check.info["market"] == "us_market":
    print(check.info["symbol"])

# if regularMarketPrice is null then eliminate
# if market not us_market then eliminate

Check if stock has an average daily volume of at least 10 000 shares

Create a DataFrame called "FinalPortfolio"

Index starts at 1 and ends at the number of stocks the code chose

Have the following headings: Ticker, Price, Shares, Value, Weight

Show the total adds to $100 000 and weight is 100%

Find a way to pick 10 - 20 stocks

Find a way to weight the stocks and put in the $10 000 USD based on the weighs

Create a DataFrame called "FinalPortfolio"

Index starts at 1 and ends at the number of stocks the code chose

Have the following headings: Ticker, Price, Shares, Value, Weight

Show the total adds to $100 000 and weight is 100%

Create final DataFrame "Stocks"

Same index as "FinalPortfolio" but only has Ticker and Shares

Must output DataFrame to a CSV file titled “Stocks_Group_18.csv”

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Insert Names Here.