In [55]:
from IPython.display import display, Math, Latex

import pandas as pd
import numpy as np
import numpy_financial as npf
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime

## Group Assignment
### Team Number: 18
### Team Member Names: Daniel Kim, Andre Slavescu, Kitty Cai 
### Team Strategy Chosen: SAFE

First check if the stock is US

In [56]:
# Read the csv file
listed = pd.read_csv('Tickers.csv')
listed.head()

   AAPL
0  ABBV
1   ABT
2   ACN
3   AGN
4   AIG

In [57]:
listed.iloc[1]

AAPL    ABT
Name: 1, dtype: object

In [58]:
list1 = listed.values.tolist()

In [59]:
for i in range(len(listed)):
    x = yf.Ticker(str(list1[i][0]))
    print(list1[i])

['ABBV']
['ABT']
['ACN']
['AGN']
['AIG']
['AMZN']
['AXP']
['BA']
['BAC']
['BIIB']
['BK']
['BLK']
['BMY']
['C']
['CAT']
['CELG']
['CL']
['CMCSA']
['COF']
['COP']
['COST']
['CSCO']
['CVS']
['GM']
['GOOG']
['JPM']
['KMI']
['KO']
['LLY']
['LMT']
['MO']
['MON']
['MRK']
['MS']
['MSFT']
['NEE']
['NKE']
['ORCL']
['OXY']
['PCLN']
['PEP']
['PFE']
['PG']
['PM']
['PYPL']
['QCOM']
['RTN']
['SHOP.TO']
['SBUX']
['SLB']
['SO']
['SPG']
['T']
['TD.TO']
['TGT']
['TWX']
['TXN']
['UNH']
['UNP']
['UPS']
['USB']

In [60]:
len(listed)

61

In [61]:
str(list1[1][0])

'ABT'

In [62]:
stock_list = []
for i in range(len(list1)):
    stock_list.append(list1[i][0])
stock_list

['ABBV',
 'ABT',
 'ACN',
 'AGN',
 'AIG',
 'AMZN',
 'AXP',
 'BA',
 'BAC',
 'BIIB',
 'BK',
 'BLK',
 'BMY',
 'C',
 'CAT',
 'CELG',
 'CL',
 'CMCSA',
 'COF',
 'COP',
 'COST',
 'CSCO',
 'CVS',
 'GM',
 'GOOG',
 'JPM',
 'KMI',
 'KO',
 'LLY',
 'LMT',
 'MO',
 'MON',
 'MRK',
 'MS',
 'MSFT',
 'NEE',
 'NKE',
 'ORCL',
 'OXY',
 'PCLN',
 'PEP',
 'PFE',
 'PG',
 'PM',
 'PYPL',
 'QCOM',
 'RTN',
 'SHOP.TO',
 'SBUX',
 'SLB',
 'SO',
 'SPG',
 'T',
 'TD.TO',
 'TGT',
 'TWX',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB']

In [63]:
check = yf.Ticker(stock_list[i])
for i in range(len(stock_list)):   
    if "market" not in check.info:
        stock_list.pop(i)

stock_list

# if regularMarketPrice is null then eliminate
# if market not us_market then eliminate

['ABBV',
 'ABT',
 'ACN',
 'AGN',
 'AIG',
 'AMZN',
 'AXP',
 'BA',
 'BAC',
 'BIIB',
 'BK',
 'BLK',
 'BMY',
 'C',
 'CAT',
 'CELG',
 'CL',
 'CMCSA',
 'COF',
 'COP',
 'COST',
 'CSCO',
 'CVS',
 'GM',
 'GOOG',
 'JPM',
 'KMI',
 'KO',
 'LLY',
 'LMT',
 'MO',
 'MON',
 'MRK',
 'MS',
 'MSFT',
 'NEE',
 'NKE',
 'ORCL',
 'OXY',
 'PCLN',
 'PEP',
 'PFE',
 'PG',
 'PM',
 'PYPL',
 'QCOM',
 'RTN',
 'SHOP.TO',
 'SBUX',
 'SLB',
 'SO',
 'SPG',
 'T',
 'TD.TO',
 'TGT',
 'TWX',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB']

In [64]:
len(stock_list)

61

In [65]:
for i in stock_list:
    if (yf.Ticker(i).info["market"] == "us_market"):
        stock_list.remove(i)
        print(i)
for i in stock_list:
    if (yf.Ticker(i).info["averageDailyVolume"]) < 10000:
        stock_list.remove(i)
        print(i)

stock_list

ABBV
ACN
AIG
AXP
BAC
BK
BMY

In [ ]:
# Fake tickers, AGN CELG
check = yf.Ticker("CELG")

check.info

{'regularMarketPrice': None, 'logo_url': ''}

In [ ]:
check = yf.Ticker("APPL")

check.info

if check.info["market"] == "us_market":
    print(check.info["symbol"])

# if regularMarketPrice is null then eliminate
# if market not us_market then eliminate

APPL

In [ ]:
manipulation = stock_list
manipulation

['ABT',
 'AGN',
 'AMZN',
 'BA',
 'BIIB',
 'BLK',
 'C',
 'CELG',
 'CMCSA',
 'COP',
 'CSCO',
 'GM',
 'JPM',
 'KO',
 'LMT',
 'MON',
 'MS',
 'NEE',
 'ORCL',
 'PCLN',
 'PFE',
 'PM',
 'QCOM',
 'RTN',
 'SHOP.TO',
 'SBUX',
 'SLB',
 'SO',
 'SPG',
 'T',
 'TD.TO',
 'TGT',
 'TWX',
 'TXN',
 'UNH',
 'UNP',
 'UPS',
 'USB']

In [ ]:
stock_list_manipulation = pd.DataFrame()

for ticker in manipulation:
    x = yf.Ticker(ticker)
    
    #Dates
    start_date = '2019-01-01'
    end_date = '2021-07-01'
    
    y = x.history(start = start_date, end = end_date)
    
    stock_list_manipulation[ticker] = y['Close']

- AGN: No data found, symbol may be delisted
- CELG: No data found, symbol may be delisted
- PCLN: No data found for this date range, symbol may be delisted
- RTN: No data found, symbol may be delisted
- TWX: No data found for this date range, symbol may be delisted

In [ ]:
stock_list_manipulation.head()

             ABTclose  AGNclose    AMZNclose     BAclose   BIIBclose
Date
2019-01-02  66.280502       NaN  1539.130005  314.645142  304.690002
2019-01-03  63.152443       NaN  1500.280029  302.100525  307.000000
2019-01-04  64.954880       NaN  1575.390015  317.822601  318.329987
2019-01-07  65.927635       NaN  1629.510010  318.823425  322.399994
2019-01-08  65.136093       NaN  1656.579956  330.891907  324.440002

In [ ]:
returns = stock_list_manipulation.pct_change() * 100
returns.head()

,ABT,AGN,AMZN,BA,BIIB,BLK,C,CELG,CMCSA,COP,...,SPG,T,TD.TO,TGT,TWX,TXN,UNH,UNP,UPS,USB
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-03,-4.719431,NaN,-2.524152,-3.986900,0.758147,-2.937698,-1.812046,NaN,0.785586,-1.893348,...,-0.084852,0.135414,-1.391955,-1.369667,NaN,-5.897295,-2.727007,-3.701565,-2.839212,-1.402375
2019-01-04,2.854123,NaN,5.006398,5.204243,3.690549,3.661556,4.889616,NaN,3.377584,2.524933,...,1.522419,2.569311,1.010413,1.373423,NaN,4.522957,1.169515,3.851375,3.483335,2.472650
2019-01-07,1.497563,NaN,3.435339,0.314900,1.278550,0.278187,0.870676,NaN,-1.061158,-0.439220,...,1.051488,1.812780,-0.426590,4.892364,NaN,1.722288,0.191973,0.624120,-0.337632,-0.469802
2019-01-08,-1.200623,NaN,1.661232,3.785328,0.632757,1.272575,-0.269739,NaN,0.818519,1.339215,...,2.388563,1.262551,0.192028,-0.100453,NaN,-0.126987,1.337032,8.727020,0.010252,0.643641

In [ ]:
#Calculate the standard deviation
returns.std()

ABTclose        0.018802
AGNclose             NaN
AMZNclose       0.019058
BAclose         0.038228
BIIBclose       0.037547
BLKclose        0.021761
Cclose          0.029695
CELGclose            NaN
CMCSAclose      0.018391
COPclose        0.032905
CSCOclose       0.020077
GMclose         0.028574
JPMclose        0.023759
KOclose         0.016032
LMTclose        0.018392
MONclose        0.005675
MSclose         0.025892
NEEclose        0.018993
ORCLclose       0.019438
PCLNclose            NaN
PFEclose        0.016756
PMclose         0.018953
QCOMclose       0.028134
RTNclose             NaN
SHOP.TOclose    0.034249
SBUXclose       0.020713
SLBclose        0.035913
SOclose         0.019851
SPGclose        0.038382
Tclose          0.016786
TD.TOclose      0.017605
TGTclose        0.021233
TWXclose             NaN
TXNclose        0.022020
UNHclose        0.022295
UNPclose        0.020360
UPSclose        0.020422
USBclose        0.025437
dtype: float64

In [ ]:
std = pd.DataFrame(returns.std())
std

                     0
ABTclose      0.018802
AGNclose           NaN
AMZNclose     0.019058
BAclose       0.038228
BIIBclose     0.037547
BLKclose      0.021761
Cclose        0.029695
CELGclose          NaN
CMCSAclose    0.018391
COPclose      0.032905
CSCOclose     0.020077
GMclose       0.028574
JPMclose      0.023759
KOclose       0.016032
LMTclose      0.018392
MONclose      0.005675
MSclose       0.025892
NEEclose      0.018993
ORCLclose     0.019438
PCLNclose          NaN
PFEclose      0.016756
PMclose       0.018953
QCOMclose     0.028134
RTNclose           NaN
SHOP.TOclose  0.034249
SBUXclose     0.020713
SLBclose      0.035913
SOclose       0.019851
SPGclose      0.038382
Tclose        0.016786
TD.TOclose    0.017605
TGTclose      0.021233
TWXclose           NaN
TXNclose      0.022020
UNHclose      0.022295
UNPclose      0.020360
UPSclose      0.020422
USBclose      0.025437

In [ ]:
std = std.reset_index()
std

           index         0
0       ABTclose  0.018802
1       AGNclose       NaN
2      AMZNclose  0.019058
3        BAclose  0.038228
4      BIIBclose  0.037547
5       BLKclose  0.021761
6         Cclose  0.029695
7      CELGclose       NaN
8     CMCSAclose  0.018391
9       COPclose  0.032905
10     CSCOclose  0.020077
11       GMclose  0.028574
12      JPMclose  0.023759
13       KOclose  0.016032
14      LMTclose  0.018392
15      MONclose  0.005675
16       MSclose  0.025892
17      NEEclose  0.018993
18     ORCLclose  0.019438
19     PCLNclose       NaN
20      PFEclose  0.016756
21       PMclose  0.018953
22     QCOMclose  0.028134
23      RTNclose       NaN
24  SHOP.TOclose  0.034249
25     SBUXclose  0.020713
26      SLBclose  0.035913
27       SOclose  0.019851
28      SPGclose  0.038382
29        Tclose  0.016786
30    TD.TOclose  0.017605
31      TGTclose  0.021233
32      TWXclose       NaN
33      TXNclose  0.022020
34      UNHclose  0.022295
35      UNPclose  0.020360
36      UPSclose  0.020422
37      USBclose  0.025437

In [ ]:
std = std.rename(columns={"index": "stocks", 0: "standard_deviation"})
std = std.dropna()
std

          stocks  standard_deviation
0       ABTclose            0.018802
2      AMZNclose            0.019058
3        BAclose            0.038228
4      BIIBclose            0.037547
5       BLKclose            0.021761
6         Cclose            0.029695
8     CMCSAclose            0.018391
9       COPclose            0.032905
10     CSCOclose            0.020077
11       GMclose            0.028574
12      JPMclose            0.023759
13       KOclose            0.016032
14      LMTclose            0.018392
15      MONclose            0.005675
16       MSclose            0.025892
17      NEEclose            0.018993
18     ORCLclose            0.019438
20      PFEclose            0.016756
21       PMclose            0.018953
22     QCOMclose            0.028134
24  SHOP.TOclose            0.034249
25     SBUXclose            0.020713
26      SLBclose            0.035913
27       SOclose            0.019851
28      SPGclose            0.038382
29        Tclose            0.016786
30    TD.TOclose            0.017605
31      TGTclose            0.021233
33      TXNclose            0.022020
34      UNHclose            0.022295
35      UNPclose            0.020360
36      UPSclose            0.020422
37      USBclose            0.025437

In [ ]:
std = std.sort_values(by = 'standard_deviation')
std

          stocks  standard_deviation
15      MONclose            0.005675
13       KOclose            0.016032
20      PFEclose            0.016756
29        Tclose            0.016786
30    TD.TOclose            0.017605
8     CMCSAclose            0.018391
14      LMTclose            0.018392
0       ABTclose            0.018802
21       PMclose            0.018953
17      NEEclose            0.018993
2      AMZNclose            0.019058
18     ORCLclose            0.019438
27       SOclose            0.019851
10     CSCOclose            0.020077
35      UNPclose            0.020360
36      UPSclose            0.020422
25     SBUXclose            0.020713
31      TGTclose            0.021233
5       BLKclose            0.021761
33      TXNclose            0.022020
34      UNHclose            0.022295
12      JPMclose            0.023759
37      USBclose            0.025437
16       MSclose            0.025892
22     QCOMclose            0.028134
11       GMclose            0.028574
6         Cclose            0.029695
9       COPclose            0.032905
24  SHOP.TOclose            0.034249
26      SLBclose            0.035913
4      BIIBclose            0.037547
3        BAclose            0.038228
28      SPGclose            0.038382

In [ ]:
std = std.reset_index(drop = True)
std

          stocks  standard_deviation
0       MONclose            0.005675
1        KOclose            0.016032
2       PFEclose            0.016756
3         Tclose            0.016786
4     TD.TOclose            0.017605
5     CMCSAclose            0.018391
6       LMTclose            0.018392
7       ABTclose            0.018802
8        PMclose            0.018953
9       NEEclose            0.018993
10     AMZNclose            0.019058
11     ORCLclose            0.019438
12       SOclose            0.019851
13     CSCOclose            0.020077
14      UNPclose            0.020360
15      UPSclose            0.020422
16     SBUXclose            0.020713
17      TGTclose            0.021233
18      BLKclose            0.021761
19      TXNclose            0.022020
20      UNHclose            0.022295
21      JPMclose            0.023759
22      USBclose            0.025437
23       MSclose            0.025892
24     QCOMclose            0.028134
25       GMclose            0.028574
26        Cclose            0.029695
27      COPclose            0.032905
28  SHOP.TOclose            0.034249
29      SLBclose            0.035913
30     BIIBclose            0.037547
31       BAclose            0.038228
32      SPGclose            0.038382

Check if stock has an average daily volume of at least 10 000 shares

Create a DataFrame called "FinalPortfolio"

Index starts at 1 and ends at the number of stocks the code chose

Have the following headings: Ticker, Price, Shares, Value, Weight

Show the total adds to $100 000 and weight is 100%

Find a way to pick 10 - 20 stocks

Find a way to weight the stocks and put in the $10 000 USD based on the weighs

Create a DataFrame called "FinalPortfolio"

Index starts at 1 and ends at the number of stocks the code chose

Have the following headings: Ticker, Price, Shares, Value, Weight

Show the total adds to $100 000 and weight is 100%

Create final DataFrame "Stocks"

Same index as "FinalPortfolio" but only has Ticker and Shares

Must output DataFrame to a CSV file titled “Stocks_Group_18.csv”

## Contribution Declaration

The following team members made a meaningful contribution to this assignment:

Insert Names Here.